body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.topPanel {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.workingspace {
  display: flex;
  flex: 1;
  background-image: url('./Components/2.png');
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
  position: inherit;
  background-size: cover;
  background-position: center;
  
}




.dropdown-container {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8); /* Adjust the background color and opacity */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.dropdown {
  margin-bottom: 7px;

}

.select-region {
  width: 100%;
  padding: 10px;
  font-style: italic, bold;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.selected-region {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.update-button,
.add-row-button,
.previous-page {
  padding: 10px 20px;
  background-color: transparent;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  text-align: center;
}

.update-button:hover,
.add-row-button:hover,
.previous-page:hover {
  background-color: #007bff;
  color: #fff;
}

.update-button {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
}

.update-button:hover {
  background-color: #218838;
}

.footer {
  background-color: #32af5b;
  color: #fff;
  text-align: center;
  padding-top: 15px;
  font-size: small;
  position: relative;
  text-indent: 0%;
  line-height: 0.8;
  bottom: 0;
  width: 100%;
}
